body {
    margin: 0;
    padding: 0;
    font-family: monaco, monospace;
  }
  
  .home-page {
    position: relative;
    background-color: #000;
    color: #fff;
    width: 100vw;

  }
  
  .pfp {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }

  .pfp img{
    position: absolute;
    max-width: 100%;
    left: 15%;
    height: auto;
    scale: 1.75;
    bottom: 15%;
  }
  
  .home_page_content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    text-align: right;
    padding-right: 50px;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
  }

  .arrow {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: rotate(45deg);
    
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-width: .8vmin .8vmin 0 0;
      border-style: solid;
      border-color: #fafafa;
      transition: .2s ease;
      display: block;
      transform-origin: 100% 0;
    }
  
    
    &:after {
      content: '';
      float: left;
      position: relative;
      top: -100%;
      width: 100%;
      height: 100%;
      border-width: 0 .8vmin 0 0;
      border-style: solid;
      border-color: #fafafa;
      transform-origin: 100% 0;
      transition:.2s ease;
    }
    
    &:hover::after {
      transform: rotate(45deg);
      border-color: orange;
      height: 120%;
    }
    &:hover::before {
      border-color: orange;
      transform: scale(.8);
      
    }   
  }
  
  .menu {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .about-me {
    background-color: #303030;
    padding: 100 px;
    height: 600px;
    color: #fff;
    text-align: center;
  }

  .about-me h2 {
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 75px;
  }
  
  .about-me p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 200px;
  }

  .about-me-content {
    width: 100%;
  }
  
  .circle-button {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    line-height: 80px;
    margin: 50px;
    font-size: 14px;
  }
  
  .circle-button:hover {
    background-color: #ddd;
    color: #000;
  }

  .under-construction {
    width: 100%;
    height: 25vh;
    background-color: yellow;
  }

  .under-construction h3 {
    text-align: center;
  }

  .under-construction p {
    text-align: center;
  }
