html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: monaco, monospace;
  }

  .banner {
    position: fixed;
    height: 10vh;
    top: 0%;
    background-color: #000;
  }

  .home-page-top {
    position: relative;
    background-color: #01002e;
    color: #ffffff;
    height: 80vh;
    overflow: hidden;
  }
  
  .pfp {
    background-color: transparent;
    overflow: hidden;
    height: 80vh;
    width: 100vw;
  }

  .pfp img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 15%;
    bottom: 0%;
    scale: 1.75;
    display: block;
  }
  
  .home_page_content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    text-align: right;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  .home_page_content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  /*Nav Bar*/
  .menu {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }  
  
  /*Read More Arrow*/
  .home-page-bot {
    position: relative;
    background-color: #828282;
    height: 20vh;
    overflow: hidden;
  }

  .arrow {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(135deg);
    
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-width: .8vmin .8vmin 0 0;
      border-style: solid;
      border-color: #fafafa;
      transition: .2s ease;
      display: block;
      transform-origin: 100% 0;
    }
  
    &:after {
      content: '';
      float: left;
      position: relative;
      top: -100%;
      width: 100%;
      height: 100%;
      border-width: 0 .8vmin 0 0;
      border-style: solid;
      border-color: #fafafa;
      transform-origin: 100% 0;
      transition:.2s ease;
    }
    
    &:hover::after {
      transform: rotate(45deg) scale(.8);
      transform-origin: 50% 0%;
      border-color: orange;
      height: 160%;
    }
    &:hover::before {
      border-color: orange;
      transform: scale(.8);
    }     
  }

  /*About Me*/
  #about-me {
    background-color: #303030;
    height: 100vh;
    /* width: 100vw; */
    color: #fff;
    text-align: center;
    overflow: hidden;
  }

  .about-me h2 {
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 75px;
  }
  
  .about-me p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 200px;
  }

  .about-me-content {
    top: 50%;
    left: 50%;
  }
  
  .circle-button {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    line-height: 80px;
    margin: 50px;
    font-size: 14px;
  }
  
  .circle-button:hover {
    background-color: #ddd;
    color: #000;
  }

  .skills {
    background-color: #01002e;
    height: 100vh;
  }
    
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .flex-container img {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .skill-img p {
    margin-top: 10px;
  }

  .projects {
    background-color: #01002e;
    height: 100vh;
  }

  .contact {
    background-color: #01002e;
    height: 100vh;
  }

  .under-construction {
    height: 25vh;
    background-color: yellow;
    text-align: center;
  }

